{% extends 'base_dash.html.twig' %}

{% block title %}Fabricante{% endblock %}

{% block content %}
    <h1>Fabricante</h1>

    <table id="dtable" class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th class="no-content"></th>
            </tr>
        </thead>
        <tbody>
            {% for manufacturer in manufacturers %}
                <tr>
                    <td>{{ manufacturer.name }}</td>
                    <td>
                        <a class="text-primary" href="{{ path('manufacturer_show', {'id': manufacturer.id}) }}" title="Ver"><i class="fas fa-search-plus"></i></a>
                        <a class="text-warning" href="{{ path('manufacturer_edit', {'id': manufacturer.id}) }}" title="Editar"><i class="far fa-edit"></i></a>
                        <a class="text-danger prompt-item" href="javascript:void(0);" title="Eliminar" data-dom-action="delete" data-method="delete" data-type="warning" data-url="{{ path('manufacturer_delete', {'id': manufacturer.id}) }}" data-confirm-text="Eliminar" data-title="Eliminar fabricante" data-message="¿Seguro que quiere eliminar este fabricante?">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-right mt-5">
        <a href="{{ path('manufacturer_index') }}">Volver</a>
        <a class="btn btn-primary ml-2" href="{{ path('manufacturer_new') }}">
            <i class="fas fa-plus"></i> Nuevo fabricante
        </a>
    </div>
{% endblock %}
