{% extends 'base_dash.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block content %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ client.code }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ client.adress }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-right mt-5">
        <a href="{{ path('client_index') }}">Volver</a>
        <a class="btn btn-warning ml-2" href="{{ path('client_edit', {'id': client.id}) }}"><i class="far fa-edit"></i> Editar</a>
    </div>

{% endblock %}
