{% extends 'base_dash.html.twig' %}

{% block title %}Credenciales HTTP{% endblock %}

{% block content %}
    <h1>Credenciales HTTP</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ http_credential.id }}</td>
            </tr>
            <tr>
                <th>Título</th>
                <td>{{ http_credential.title }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ http_credential.username }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td>{{ http_credential.password }}</td>
            </tr>
            <tr>
                <th>Puerto</th>
                <td>{{ http_credential.port }}</td>
            </tr>
            <tr>
                <th>Protocolo</th>
                <td>{{ http_credential.protocol }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-right mt-5">
        <a href="{{ path('http_credential_index') }}">Volver</a>
        <a class="btn btn-warning ml-2" href="{{ path('http_credential_edit', {'id': http_credential.id}) }}"><i class="far fa-edit"></i> Editar</a>
    </div>
{% endblock %}
